h1#titulo {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    padding-bottom: 10px;
}

header{

    background-color: antiquewhite;
    border: 3px solid brown;
    border-radius: 22px;

}