h1#titulo {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    padding-bottom: 10px;
}

body{
    background-color: rgb(247, 218, 182);
}

header{
    background-color: antiquewhite;
    border: 3px solid brown;
    border-radius: 22px;
}

.amarillo{
    color: rgb(255, 255, 2);
}

.azul{
    color: blue;
}

.blanco{
    color: white;
}

.verde{
    color: rgb(2, 68, 2);
}

.rojo{
    color: rgb(148, 5, 5);
}

.naranja{
    color: rgb(255, 94, 0);
}